.playerDivide{
    height:150px;
    
    width: 100%;
    max-width:1600px;
    background:url("../Img/PokemonBanner.png");
    background-repeat:no-repeat;
    background-size: cover;
}

.playerDivideImageContainer{
    height:100%;
    display:flex;
    justify-content:center;
    
}

.playerDivideImageContainer img{
    object-fit:contain;
}