.P_ActiveArea{
    background:rgb(209, 238, 255);
    max-width:1600px;
    display:flex;
    justify-content:center;
}

.P_ActiveBox{
    display:grid;
    grid-template-columns: 70px 250px 75px;
    grid-gap: 15px;
}


.cardBox{
    
    width:250px;
    height:350px;
    
}
.cardBox img{
    width:95%;
    object-fit:contain;
    border-radius:15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.CounterBox{
    display:grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    
}

.CounterImgBox{
    
    display:flex;
    justify-content:center;
    align-items:center;
    
}

.tenDot{
    height:60px;
    width:60px;
    background-color:orange;
    border-radius:50%;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:35px;
    font-weight:bold;
    font-family: Georgia, serif;
    text-align:center;
}

.fiftyDot{
    height:60px;
    width:60px;
    background-color:red;
    border-radius:50%;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:35px;
    font-weight:bold;
    font-family: Georgia, serif;
    text-align:center;
}

.border{
    border:1px solid black;
}

.buttonBox{
    display:grid;
    grid-template-rows: 20px 20px 160px 40px 40px 10px 25px;
    

}
.Hp{
    font-weight: bold;
    font-size: 20px;
}

.AAImgContainer{
    background-image: url("../Img/pokeball.png"); /* Sets the image */
    background-repeat: no-repeat;           /* Prevents the image from tiling */
    background-size: contain;                 /* Scales the image to cover the entire element */
    background-position: center;            /* Centers the image within the element */
    
    width:100%;
    height:100%;
    border-radius:15px;
    background-color:rgba(235, 253, 226);
}
.AAImgContainer img{
    width:100%;
    object-fit:cover;
    border-radius:15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


