

.textBox {
  font-size: 8px;
  font-family: "Pokemon GB", Arial, sans-serif;
  border-radius: 2px;
  padding: 8px;
  width: 500px;
  height: 56px;
  line-height: 20px;
  margin: auto;
  background: white;
  border: 1px solid white;
  box-shadow: 0 1px 0 1px black,
              inset 0 1px 0 1px black,
              0 0 0 1px black,
              inset 0 0 0 1px black;
}
.textBox > i {
  width: 0;
  height: 0;
  border: 5px solid transparent;
  border-top-color: black;
  margin-top: 23px;
  animation: bounce 0.5s ease-in-out 0 infinite alternate;
  float: right;
}

.textBox p {
  margin: 0;
  padding: 0;
  color: black;
  font-size: 18px;
}

@keyframes bounce {
  from { margin-top: 20px; }
  to { margin-top: 23px; }
}